<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/visualizacion_inventario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-7STCx0n7m5CsBiP+9l/H8zjxU5A+8/7xjLffx4JU3H3NU1O9qmp3fx9Xi2yEZxjTVCEVRa+nkzPn4aJuebKfLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Inventario</title>
</head>
<body>
    <header>
        <a href="../HTML/visualizacion_inventario.html
        "><img src="../Imagenes/logo_nb2_v2.png" class="logo_img" alt="" ></a>
        
          <!-- Barra de navegación -->
        <img src="../Imagenes/hamburguesa_icon.svg" class="abrir-btn" alt="">
        <nav class="" id="navbar">
          <ul class="opciones">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Mi banco</a></li>
            <li><a href="#">Subasta</a></li>
            <li><a href="#">Jugar online</a></li>
            <li><a href="#">Torneo</a></li>
            <li><a href="#">Resumen Flotante</a></li>
            <li><a href="#">Lista Deseos</a></li>
            <li><a href="#"><button class="login_btn">Cerrar Sesion</button></a></li>
          </ul>
        </nav>
      </header>
    <main>
                    <div class="container_productos">
                        <button class="agregar">Agregar Carta</button>
                        <% for (var i = 0; i < datos.length; i++) { %>
                            
                        <div class="card" >
                          <div class="imagen_carta">
                            <img src=<%= datos[i].imagen %> class="personaje">
                          </div>
                          <div class="informacion_carta">
                            <p><%= datos[i].nombre %></p>
                            <p>Poder: <%= datos[i].poder %></p>
                            <p>Vida: <%= datos[i].vida %></p>
                            <p>Defensa: <%= datos[i].defensa %></p>
                            <p>Ataque: <%= datos[i].ataque %></p>
                            <p>Daño: <%= datos[i].dano %></p>
                            <button class="modificar">Modificar</button>
                          </div>
                        </div>
                        <% } %>
                      </div>
     
            <!-- VENTANA FLOTANTE -->
            <div id="tipocarta" class="ventana">
                <div class="info">
                    <p class="cerrar" onclick="cerrar()">&times;</p>
                    ¿Que tipo de carta quieres crear?
                    <section class="tipo">
                        <button class="heroe" onclick="a()">
                            Heroe
                        </button>
                        <a class="arma" onclick="abrir_tipo()">
                            Item
                        </a>
                        <a class="habilidad" href="/HTML/creacion_habilidad.html">
                            Habilidad
                        </a>
                    </section>
                </div>
            </div>
            <div id="tipoheroe" class="ventana">
                <div class="info_heroe">
                    <p class="cerrar" onclick="cerrar()">&times;</p>
                    ¿Qué tipo de héroe quieres crear?
                    <section class="tipo_heroe">
                        <a class="guerrero" href="creacion_carta.html">
                            <button>Guerrero</button>
                        </a>
                        <a class="mago">
                            <button>Mago</button>
                        </a>
                        <a class="picaro">
                            <button>Picaro</button>
                        </a>
                    </section>
                </div>
            </div>
            <div id="tipoitem" class="ventana">
                <div class="info_item">
                    <p class="cerrar" onclick="cerrar()">&times;</p>
                    ¿Qué tipo de item quieres crear?
                    <section class="tipo_heroe">
                        <a class="guerrero" href="creacion_arma.html">
                            <button>Arma</button>
                        </a>
                        <a class="mago">
                            <button>Armadura</button>
                        </a>
                    </section>
                </div>
            </div>
        </div>
        
    </main>
    <script src="../JS/visualizacion.js"></script>
    <script src="../JS/vistaCrea.js"></script>
</body>
</html>